body
{
	height: 100vh;
	width: 100%;
	overflow: hidden;

	font-family: 'Sarabun', sans-serif;

	background-color: #292929;
	/*background-image: url('images/background.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;*/
}

.flex-container
{
	height: 40%;
	width: 60%;

	position: absolute;
	display: flex;
	top: 30%;
	left: 20%;

	border: 1px solid black;
}

#social, #portfolio, #aboutme 
{
	flex-basis: 20%;
 	flex-grow: 1;
	background-color: #151515;
}

#social, #portfolio
{
	border-style: none;
	border-right: 1px solid black;
}

.curtain
{
	height: 100%;
	width: 100%;
	/*background-color: #1D1A1B;*/
	background: #0E0C0D;
}